#cardDiv{
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari 3-8 */
    background: rgb(255, 217, 0);
    border-radius: 10%;
    float: right;
    margin-left: 250px;
    margin-top: 40px;
    z-index: 2;
    position: absolute;
    border: solid transparent;


}
#cardDiv section{
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari 3-8 */
    margin-top: 28px;
    text-align: center;
}

#divTitleCard span{
    
    text-align: center;
    margin-right: -50px;

}
#divTitleCard div{
    

    margin: 0px 0px 0px 10px;

}
#divTitleCard div:nth-child(1){
    font-size: 80%;
    font-weight: bold;
    color: rgb(104, 104, 104);
    margin-left: 5px;
}
#divTitleCard div:nth-child(2){
    font-size: 80%;
    color:grey;

}
#divTitleCard div:nth-child(3){
    font-size: 60px;
    font-weight: bold;
    margin: -20px 0px -20px -20px;
  
    color:white;

}
#divTitleCard div:nth-child(4){
    font-size: 80%;
    font-weight: bold;
    color: rgb(104, 104, 104);
    margin-left: 23px;

}
#divTitleCard div:nth-child(5){
    font-size: 70%;
    color:white;
    margin-left: 0px;
}

/*/////////////////////////////////////*/
#inputCardDiv{
    width: 500px;
    height: 500px;
    margin-left: 100px;
    margin-top: 220px;
    border: solid transparent;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari 3-8 */
    border-radius: 10%;
    float: right;
    background: white;
    position: absolute;
    z-index: 1;
    padding: 5px;

}

#inputCardDiv section{
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari 3-8 */
    text-align: center;
    margin-top: 50px; 

    font-size: 80%;
    padding: 20px;
}
#divTitleDiamondSquare{

    margin-bottom: 8px;

}
#divTitleDiamondSquare span{

    font-weight: bold;
    color:grey;
    float:center;
    text-align: center;
    font-size: 90%;
}
#divButtonCard {
    float: right;
    text-align: right;
}
