#tenista1{
    width: 600px;
    margin-top: 68px;
    z-index: 1;
    position: absolute;

}
#divEspecialista div:nth-child(1){
    text-align: left;
    font-size: 150%;
    color: grey;

}
#divEspecialista div:nth-child(2){
    text-align: left;
    color:rgb(18, 175, 18);
    font-size: 300%;
    font-weight: bold;
}
#divEspecialista div:nth-child(3) span{
    text-align: left;
    color:grey;
    font-size: 80%;
    margin-left: 25px;
    margin-top: 22px;
    margin-bottom: 20px;
}