label{
    margin-top: 9px;
    font-size: 80%;
    float: left;
}
#firstStyle label{
    color:grey;
    margin-top: 0;
}
#firstStyle input{
    height: 30px;
    background: rgb(219, 216, 216);
}
#firstStyle select{
    height: 30px;
    background: rgb(219, 216, 216);
}
#secondStyle label{
    color:white;
}
#thirdStyle label{
    color:grey;
}
#thirdStyle input{
    border: green solid 1px;
}
#thirdStyle select{
    border: green solid 1px;
}