#divmedotologia{
    background-image: url(../../Images/grass.jpg);
}
#divmedotologia p:nth-child(1){
    color: white;
    font-size: 170%;
    text-align: left;
    margin-top: 50px;
}
#divmedotologia p:nth-child(2){
    color: orange;
    font-size: 300%;
    text-align: left;

}
#divmedotologia p:nth-child(3){
    color: white;
    text-align: left;
    margin-left: 25px;
    font-size: 80%;

}
#divmedotologia p:nth-child(4){
    color: white;
    text-align: left;
    margin-left: 25px;
    font-size: 80%;

}
#tenista2{
    width: 700px;
    margin-top: 120px;
    float:left;
}
